#
# TIMA uevent configuration
#

config TIMA_UEVENT
    bool "TIMA uevents (EXPERIMENTAL)"
    depends on TIMA
	default n
    ---help---
      Generate udev events for TIMA events.
      TIMA uevent device and driver provides a mechanism to propogate
      periodic kernel and module measurement events to observer.